h1{
    font-weight: bold;
    color:blue; 
}

h2{
    color:olive;
}

footer{
    margin:20px;
}

.modal-content{
    background-color:darkolivegreen;
    color:white;
}

.modal-header{
    background-color: rgb(236, 238, 113);
    color:purple;
}

.modal-footer{
    background-color:lightskyblue;
}